runs/train/v8x_150epochs/weights/last.pt filter=lfs diff=lfs merge=lfs -text
runs/train/v8x_150epochs/weights/best.pt filter=lfs diff=lfs merge=lfs -text
k-fold/yolov8_kfold/*/weights/*.pt filter=lfs diff=lfs merge=lfs -text
